---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<form action="/api/auth/signin" method="post">
			<button class="button" name="provider" value="discord" type="submit"
				>Discord</button
			>
			<button class="button" name="provider" value="google" type="submit"
				>Google</button
			>
		</form>
	</body>
</html>
